server:
  port: 8081

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://8.141.63.97:3306/mapstruct?useUnicode=true&characterEncoding=utf-8
    username: root
    password: mysql456123z

mybatis:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    com.apple.firsttest.dao: debug
